<main class="container-view">
  <section class="container-body">
    <h1>Dashboard</h1>

    <div class="d-flex">
      <div class="card-principal">
        <mat-card>
          <mat-card-content>
            <p>Cuadro estadistico, en el que visualemente se pueda observar los picos de asistencia</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="d-flex justify-content-md-between flex-sm-wrap">
      <div class="card-secondary">
        <mat-card>
          <mat-card-content class="card-content-center">
            <p class="counter">00</p>
            <p class="text-center">Descargas de brochure</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card-secondary">
        <mat-card>
          <mat-card-content class="card-content-center">
            <p class="counter">00</p>
            <p class="text-center">Permanencia en el Stand</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card-secondary">
        <mat-card>
          <mat-card-content class="card-content-center">
            <p class="counter">00</p>
            <p class="text-center">Permanencia en la Feria</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </section>

</main>