<main class="container-view">
  <section class="container-body">
    <h1>Descargar Descargar Brochure</h1>

    <div class="d-flex justify-content-md-start flex-sm-wrap">
      <div class="card-secondary">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Brochure.pdf</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
            width="45" height="135">
          <mat-card-actions>
            <mat-icon aria-hidden="false" aria-label="icon">get_app</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="card-secondary">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Brochure.pdf</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
            width="45" height="135">
          <mat-card-actions>
            <mat-icon aria-hidden="false" aria-label="icon">get_app</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="card-secondary">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Brochure.pdf</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
            width="45" height="135">
          <mat-card-actions>
            <mat-icon aria-hidden="false" aria-label="icon">get_app</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="card-secondary">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Brochure.pdf</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
            width="45" height="135">
          <mat-card-actions>
            <mat-icon aria-hidden="false" aria-label="icon">get_app</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="card-secondary">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Brochure.pdf</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
            width="45" height="135">
          <mat-card-actions>
            <mat-icon aria-hidden="false" aria-label="icon">get_app</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="card-secondary">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Brochure.pdf</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
            width="45" height="135">
          <mat-card-actions>
            <mat-icon aria-hidden="false" aria-label="icon">get_app</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="card-secondary">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Brochure.pdf</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
            width="45" height="135">
          <mat-card-actions>
            <mat-icon aria-hidden="false" aria-label="icon">get_app</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="card-secondary">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Brochure.pdf</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
            width="45" height="135">
          <mat-card-actions>
            <mat-icon aria-hidden="false" aria-label="icon">get_app</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="card-secondary">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Brochure.pdf</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
            width="45" height="135">
          <mat-card-actions>
            <mat-icon aria-hidden="false" aria-label="icon">get_app</mat-icon>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </section>

</main>